.ul, ul, .ol, ol {
  padding-left: 2em;
}

@media (min-width: 768px) {
  .navbar-form .input-group-custom {
    padding-left: 10px;
    display: table;
  }
}

.table-results > thead > tr > th {
  overflow: hidden;
  white-space: nowrap;
}

.table-results tbody > tr > td {
  vertical-align: middle;
}

.list-relaxed li {
  padding: 0px 0px 20px;
}

.zoom {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.image-plot {
  width: 150px;
  height: 150px;
}

.footer {
  padding: 0px 0px 50px;
  margin: 20px 0px 0px 0px;
}
